
img#fake-image,
.jcrop-holder,
.jcrop-holder img,
.jcrop-tracker {
  width: 100% !important; height: 100% !important;
  max-width: 100% !important; max-height: 100% !important;
  min-width: 100% !important; min-height: 100% !important;
}

img#fake-image {
  position: fixed; top: 0; left: 0; z-index: 1;
}

.jcrop-holder {
  position: fixed !important; top: 0 !important; left: 0 !important;
  z-index: 2147483647 !important;
}
