
/*---------------------------------------------------------------------------*/
/*global*/
body,
body label,
body input {
  font-family: 'Monospace', monospace !important;
}
body button {
  font-family: sans-serif !important;
}

/*content*/
main {
  padding-top: 90px;
}

/*---------------------------------------------------------------------------*/
/*sticky footer*/

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}
footer, #footer-push {
  height: 40px;
}

/*---------------------------------------------------------------------------*/
/*header*/

.navbar {
  font-size: 24px;
  line-height: 60px;
  color: #fff;
  background: #212529;
  width: 100%;
  height: 60px;
  padding: 8px 0;
  position: fixed;
  z-index: 100;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 8px 0;
}

h3 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 8px;
}

/*---------------------------------------------------------------------------*/
/*footer*/

footer {
  font-size: 14px;
  line-height: 20px;
  color: #212529;
  text-align: center;
}
footer a {
  font-size: 12px;
  line-height: 19px;
  color: #212529;
  text-decoration: none;
}
footer a:hover {
  color: #0a58ca;
  text-decoration: underline;
}

/*---------------------------------------------------------------------------*/
/*scrollbar*/

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-track-piece {
  background: #ececec;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #afbdc3;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #607d8b;
}

/*---------------------------------------------------------------------------*/
/*bootstrap callout*/

.bs-callout {
  border: 1px solid #eee;
  border-left-width: 5px;
  border-left-color: #607d8b;
  border-radius: 3px;
  background: #fcfcfc;
  padding: 20px;
  margin: 0 0 20px 0;
  /*expand-vertically*/
  /*display: flex;
  flex-direction: column;
  flex: 1;*/
}
.s-box-error {
  border-left-color: #d9534f;
}
/*expand-vertically*/
/*.s-col {
  display: flex;
  flex-direction: column;
}*/

/*---------------------------------------------------------------------------*/
/*controls*/

/*radio & checkbox text*/
.s-label {
  font-size: 16px;
  display: block;
  cursor: pointer;
  height: 40px;
  padding: 5px;
  margin-bottom: 8px;
  border-radius: 3px;
}
.s-last .row:last-child .s-label {
  margin-bottom: 0;
}
.s-label.active {
  background: #eee;
}
.s-label .mdc-radio {
  display: inline-block;
}
.s-label span {
  position: relative;
  top: -15px;
}
.s-label.s-checkbox span {
  top: -10px;
}
.s-label em {
  font-style: normal;
  position: relative;
  top: -1px;
  padding: 0 10px 0 0;
}

/*text label*/
span.s-text {
  font-size: 16px;
  line-height: 52px;
  padding: 0 17px;
  display: inline-block;
}
span.s-text code { background: #ececec; padding: 5px 8px; border-radius: 3px; }

/*button*/
.s-button {
  background-color: #ececec !important;
  color: #000 !important;
  position: relative;
  top: -4px;
}
.s-button:before {
  background-color: rgba(96, 125, 139, 0.56) !important;
}
.s-button:after {
  background-color: rgba(96, 125, 139, 0.56) !important;
}

/*text field*/
.mdc-text-field {
  height: auto;
  padding: 0 !important;
}
.mdc-text-field,
.mdc-text-field::after,
.mdc-text-field::before {
  background: none !important;
}
.mdc-text-field__input {
  width: 80px;
  height: 30px;
  padding: 3px 0 1px 3px !important;
}

/*disabled items*/
.disabled .s-text,
.disabled .mdc-text-field input,
.disabled .mdc-button,
.disabled .s-label span {
  color: #cacaca !important;
}
